services:
  # === MARIADB ===
  mariadb-service:
    image: mariadb:11
    container_name: mariadb-service
    restart: unless-stopped
    env_file:
      - ./.env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      TZ: Europe/Madrid
    volumes:
      - mariadb_data:/var/lib/mysql
      - ./services/mariadb-service/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD-SHELL", "cat /proc/1/cmdline | grep -q mariadbd || exit 1"]
      interval: 15s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      - tfg_net
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    deploy:
      resources:
        limits:
          cpus: "0.8"
          memory: 512M

  # === BROKER MQTT (MOSQUITTO) ===
  mosquitto:
    build:
      context: ./mosquitto
      dockerfile: Dockerfile.mosquitto
    container_name: mosquitto
    restart: unless-stopped
    env_file:
      - ./.env
    environment:
      MQTT_USER: ${MQTT_USER}
      MQTT_PASS: ${MQTT_PASS}
      TZ: Europe/Madrid
      # MQTT_FORCE_REGEN: "1"
    ports:
      - "1883:1883"
      # - "9001:9001"
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    networks:
      - tfg_net


  # === SERVICIO PONG (TEST MQTT) === (Posible integración en router futura)
  pong-service:
    build:
      context: ./services/pong-service
      dockerfile: Dockerfile.pong
    container_name: pong-service
    restart: unless-stopped
    env_file:
      - ./.env
    environment:
      MQTT_HOST: mosquitto
      MQTT_PORT: ${MQTT_PORT}
      MQTT_USER: ${MQTT_USER}
      MQTT_PASS: ${MQTT_PASS}
      TZ: Europe/Madrid
    depends_on:
      mosquitto:
        condition: service_healthy
    networks:
      - tfg_net
    user: "1000:1000"
    read_only: true
    tmpfs:
      - /tmp
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  # === MQTT ROUTER ===
  mqtt-router:
    build:
      context: ./services/mqtt-router
      dockerfile: Dockerfile.router
    container_name: mqtt-router
    restart: unless-stopped
    env_file:
      - ./.env
    environment:
      DB_HOST: mariadb-service
      DB_USER: ${MYSQL_USER}
      DB_PASS: ${MYSQL_PASSWORD}
      DB_NAME: ${MYSQL_DATABASE}
      MQTT_HOST: mosquitto
      MQTT_PASS: ${MQTT_PASS}
      MQTT_USER: ${MQTT_USER}
      MQTT_PORT: ${MQTT_PORT}
      TZ: Europe/Madrid
    depends_on:
      mariadb-service:
        condition: service_healthy
      mosquitto:
        condition: service_started
    networks:
      - tfg_net
    healthcheck:
      test: ["CMD", "python3", "listener.py", "--healthcheck"]
      interval: 15s
      timeout: 5s
      retries: 5
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"


  # === LISTENER (PERSISTE announce/# EN LA DB) === (Deprecated)
  # mqtt-listener:
  #   build:
  #     context: ./services/mqtt-listener
  #     dockerfile: Dockerfile.listener
  #   container_name: mqtt-listener
  #   restart: unless-stopped
  #   env_file:
  #     - ./.env
  #   environment:
  #     DB_HOST: mariadb-service
  #     DB_USER: ${MYSQL_USER}
  #     DB_PASS: ${MYSQL_PASSWORD}
  #     DB_NAME: ${MYSQL_DATABASE}
  #     MQTT_HOST: mosquitto
  #     MQTT_PORT: ${MQTT_PORT}
  #     MQTT_USER: ${MQTT_USER}
  #     MQTT_PASS: ${MQTT_PASS}
  #     MQTT_TOPIC: announce/#
  #     TZ: Europe/Madrid
  #   depends_on:
  #     mariadb-service:
  #       condition: service_healthy
  #     mosquitto:
  #       condition: service_healthy
  #   networks:
  #     - tfg_net
  #   user: "1000:1000"
  #   read_only: true
  #   tmpfs:
  #     - /tmp
  #   security_opt:
  #     - no-new-privileges:true
  #   cap_drop:
  #     - ALL
  #   logging:
  #     driver: json-file
  #     options:
  #       max-size: "10m"
  #       max-file: "3"
  #   deploy:
  #     resources:
  #       limits:
  #       cpus: "0.4"
  #        memory: 256M

  # === TELEGRAM BOT ===
  telegram:
    build:
      context: ./telegram
      dockerfile: Dockerfile.telegram
    container_name: telegram
    restart: unless-stopped
    env_file:
      - ./.env
    depends_on:
      - mosquitto
    networks:
      - tfg_net


  # === ASTERISK ===
  asterisk:
    image: andrius/asterisk:latest
    container_name: asterisk
    restart: unless-stopped
    network_mode: "host"
    volumes:
      - ./asterisk/config:/etc/asterisk
      - ./asterisk/logs:/var/log/asterisk
      - ./asterisk/recordings:/var/spool/asterisk/recordings
    environment:
      - ASTERISK_UID=1000
      - ASTERISK_GID=1000


  # === VOSK SERVICE ===
  vosk-service:
    build:
      context: ./services/vosk-service
      dockerfile: Dockerfile.vosk
    container_name: vosk-service
    ports:
      - "2700:2700"
    restart: unless-stopped
    env_file:
      - ./.env
    environment:
      MQTT_HOST: mosquitto
      MQTT_PORT: ${MQTT_PORT}
      MQTT_USER: ${MQTT_USER}
      MQTT_PASS: ${MQTT_PASS}
      MQTT_TOPIC: system/transcription/text
      VOSK_MODEL_PATH: model
      VOSK_SAMPLE_RATE: 16000
      TZ: Europe/Madrid
    depends_on:
      - mosquitto
    networks:
      - tfg_net

  # === STT SERVICE ===
  # stt-service:
  #   build:
  #     context: ./services/stt-service
  #     dockerfile: Dockerfile.stt
  #   container_name: stt-service
  #   restart: unless-stopped
  #   env_file:
  #     - ./.env
  #   environment:
  #     MQTT_HOST: mosquitto
  #     MQTT_PORT: ${MQTT_PORT}
  #     MQTT_USER: ${MQTT_USER}
  #     MQTT_PASS: ${MQTT_PASS}
  #     MQTT_TOPIC: system/transcription/text
  #   networks:
  #     - tfg_net
  #   volumes:
  #     - ./asterisk/recordings:/asterisk/recordings
  #   depends_on:
  #     - vosk-service
  #     - mosquitto

  # === TRANSCRIPTION SERVICE (OLD STT) ===
  transcription-service:
    build:
      context: ./services/transcription-service
      dockerfile: Dockerfile.transcription
    container_name: transcription-service
    restart: unless-stopped
    env_file:
      - ./.env_file
    environment:
      MQTT_HOST: mosquitto
      MQTT_PORT: ${MQTT_PORT}
      MQTT_USER: ${MQTT_USER}
      MQTT_PASS: ${MQTT_PASS}
      MQTT_TOPIC: system/transcription/text
      STT_PROVIDER: ${STT_PROVIDER}
    networks:
      - tfg_net
    volumes:
      - ./asterisk/recordings:/asterisk/recordings
    depends_on:
      - vosk-service
      - mosquitto
    healthcheck:
      test: ["CMD", "python", "-c", "import socket; s=socket.socket(); s.connect(('vosk-service',2700))"]
      interval: 10s
      timeout: 5s
      retries: 3


  # === INTENT SERVICE ===
  # intent-service:
  #   build:
  #     context: ./services/mqtt-router
  #     dockerfile: Dockerfile.router
  #   container_name: intent-service
  #   restart: unless-stopped
  #   depends_on:
  #     - mosquitto
  #   env_file:
  #     - ./.env
  #   environment:
  #     MQTT_HOST: mosquitto
  #     MQTT_PORT: ${MQTT_PORT}
  #     MQTT_USER: ${MQTT_USER}
  #     MQTT_PASS: ${MQTT_PASS}
  #   networks:
  #     - tfg_net

# === RED Y VOLÚMENES ===
networks:
  tfg_net:
    driver: bridge

volumes:
  mariadb_data:
